* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    background-color: whitesmoke;
    color: #555;
    font-family: 'Lato', 'Arial' sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.heading {
    font-weight: 300;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.25;
    background-color: #cc0066;
    padding: 10px;
}


.dish{
    padding: 0 30px;
}

.dish-flex-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.dish-card {
    width: 22%;
    border: 1px solid #666666;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
    margin: 15px;
}


.dish-card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.dish-card a {
    color: black;
}

.dish-img {
   height: 170px;
   width: 200px;
   border-radius: 10px;
}

.stars span {
    font-size: 16px;
}

.stars i {
    font-size: 16px;
    color: #FDCC0D;
}

.dish-card P {
    font-size: 18px;
    margin: 10px 0;
}

.buy-btn {
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    border: none;
    font-size: 16px;
    background-color: #ff3399;
    cursor: pointer;
    transition: all 0.3 ease;
    margin: 10px 0;
}

.buy-btn:hover {
    background: #cc6699;

}


.buy-btn a {
    color: #FFF;
}

.price {
    font-weight: bold;
}




/* Responsiveness */
@media screen and (max-width:1302px) {
    .dish-card {
        width: 26%;
        margin: 45px 45px 0 45px;
    }

}

@media screen and (max-width:960px) {
    .dish-card {
        width: 32%;
        margin: 45px 45px 0 45px;
    }

}

@media screen and (max-width:770px) {
    .dish-card {
        width: 45%;
        margin: 45px 45px 0 45px;
    }

}


@media screen and (max-width:700px) {
    .dish-card {
        width: 50%;
        margin: 45px 45px 0 45px;
    }

}

@media screen and (max-width:500px) {
    .dish-card {
        width: 70%;
        margin: 45px 45px 0 45px;
    }

}